# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore

!nested-subdir/
!subdir/
!scratch-simulator.cc
!wifi7-industrial-mlo.cc
!wifi7-industrial-mlo-mcs.cc
!CMakeLists.txt
!wifi6-vs-wifi7.cc
